//margin
.mb-24{
    margin-bottom: 96px;
}
.mb-26{
    margin-bottom: 104px;
}
.mb-40{
    margin-bottom: 160px;
}
.mr-5{
    margin-right: 20px;
}
.mr-2{
    margin-right: 8px;
}
.mb-md-24{
    @include pad{
        margin-bottom: 96px;
    }
}
.mr-sm-1{
    @include mobile{
        margin-right: 4px;
    }
}
.mr-sm-3{
    @include mobile{
        margin-right: 12px;
    }
}

$max: 20;
@for $i from 1 through $max{
    .mb-#{$i}{
        margin-bottom: $i * $space;
    }
}

@for $i from 1 through $max{
    @include pad{
        .mb-md-#{$i}{
            margin-bottom: $i * $space;
        }
    }
}

@for $i from 1 through $max{
    @include mobile{
        .mb-sm-#{$i}{
            margin-bottom: $i * $space;
        }
    }
}